@{
    ViewData["Title"] = "Home Page";
}

<h2 id="weather-forecast">Weather Forecast</h2>
<div class="owl-carousel owl-theme">
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Wed Jan 1, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/sn.png" alt="" style="height: 100px; object-fit: contain" />
            <div>Snow</div>
            <div class="low-temp">30 °F</div>
        </div>
    </div>
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Sat Jan 4, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/fzra.png" alt="" style="height: 100px; object-fit: contain" />
            <div>Freezing rain</div>
            <div class="high-temp">32 °F</div>
        </div>
    </div>
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Fri Jan 3, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/shra.png" alt="" style="height: 100px; object-fit: contain" />
            <div>Rain</div>
            <div class="low-temp">39 °F</div>
        </div>
    </div>
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Tue Jan 7, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/fg.png" alt="" style="height: 100px; object-fit: contain" />
            <div>Fog</div>
            <div>20% chance rain</div>
            <div class="high-temp">47 °F</div>
        </div>
    </div>
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Thur Jan 2, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/sct.png" alt="" style="height: 100px; object-fit: contain" />
            <div>Sunny</div>
            <div>50% chance clouds</div>
            <div class="low-temp">55 °F</div>
        </div>
    </div>
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Sun Jan 5, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/scttsra.png" alt="" style="height: 100px; object-fit: contain" />
            <div>50% chance t-storms</div>
            <div class="high-temp">42 °F</div>
        </div>
    </div>
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Mon Jan 6, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/ovc.png" alt="" style="height: 100px; object-fit: contain" />
            <div>Overcast</div>
            <div>70% chance rain</div>
            <div class="low-temp">45 °F</div>
        </div>
    </div>
    <div class="item weather-item">
        <div style="text-align: center">
            <div style="font-size: 18px">Wed Jan 8, 2020</div>
            <img src="https://forecast.weather.gov/newimages/large/few.png" alt="" style="height: 100px; object-fit: contain" />
            <div>Sunny</div>
            <div class="high-temp">52 °F</div>
        </div>
    </div>
</div>

<h2>Submit Report</h2>
<div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" />
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input id="date" class="form-control" style="padding: 0 5px" type="date" />
        </div>

        <fieldset class="form-group">
            <legend style="margin-bottom: 0">Precipitation</legend>
            <div class="radio">
                <label><input type="radio" name="prec" /> None</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="prec" /> Rain</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="prec" /> Snow</label>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <legend style="margin-bottom: 0">Visibility</legend>
            <div class="radio">
                <label><input type="radio" name="vis" /> None</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="vis" /> Poor</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="vis" /> Good</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="vis" /> Excellent</label>
            </div>
        </fieldset>

        <div class="form-group">
            <label for="wind">Wind</label>
            <input id="wind" class="form-control" type="number" />
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            margin: 10,
            nav: true,
            items: 5,
            dots: false
        });
    });
</script>